.homes {
  grid-column: content-start/content-end;
  display: grid;
  padding: 10rem 0;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 5rem;
  // grid-auto-rows: 40rem;
}

.home {
  background-color: $color-grey-light-1;
  display: grid;
    // align-items: center;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 3rem;
  &__img {
    width: 100%;
    grid-column: 1/-1;
    grid-row: 1/1;
    z-index: 1;
  }

  &__like {
    width: 3rem;
    height: 3rem;
    fill: $color-primary;
    grid-column: 2/2;
    grid-row: 1/1;
    justify-self: end;
    margin: 1rem;
    z-index: 2;
  }

  &__title {
    grid-column: 1/-1;
    grid-row: 1/2;
    align-self: end;
    justify-self: center;
    z-index: 3;
    background-color: $color-secondary;
    color: #fff;
    padding: 1.5rem 0;
    font-size: 2rem;
    font-weight: 300;
    font-family: $font-display;
    text-align: center;
    transform: translateY(50%);
    width: 75%;
  }

  &__location,
  &__rooms{
    margin-top: 2rem;
  }
  &__location,
  &__rooms,
  &__area,
  &__price {
    display: flex;
    align-items:flex-end;
    svg {
      width: 2rem;
      height: 2rem;
      fill: $color-primary;
      margin-right: 1rem;
    }

    p {
      font-family: $font-display;
      font-weight: 300;
      font-size: 1.6rem;
    }
  }

  &__btn {
    grid-column: 1/-1;
    justify-self: stretch;
  }
}
