.sidebar {
  background-color: $color-primary;
  grid-column: side-start/side-end;
  grid-row: 1/-1;
  display: flex;
  flex-direction: column;

  &__btn {
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s;
  }

  &__btn:hover {
    background: $color-primary-dark;
  }

  &__icon {
    margin: 2.5rem;
    border: none;
    outline: none;
    background-color: #fff;
    width: 4rem;
    height: 2px;

    &::before,
    &::after {
      content: "";
      display: block;
      background-color: #fff;
      width: 4rem;
      height: 2px;
    }

    &::before {
      transform: translateY(-1rem);
    }
    &::after {
      transform: translateY(1rem);
    }
  }
}
